#action-bar {
    position: sticky;
    top: 0;
    background-color: white;
    padding: 10px;
}

#table-container {
    overflow-x: auto;
}

table {
    border-collapse: collapse;
    width: max-content;
}

th,
td {
    border: 1px solid black;
    padding: 5px;
    min-width: 100px;
    white-space: nowrap;
}

th:nth-child(-n+1),
td:nth-child(-n+1) {
    position: sticky;
    left: 0;
    background-color: white;
}

td:hover {
    background-color: #ddd;
}
